.controller{
	position: absolute;
	display: none;
	top: 50%;
	width: 80px;
	height: 80px;
	background: #1A1710;
	border-radius: 25px;
	opacity: 0.6;
}
	.controller:hover{
		opacity: 1;
	}
	#con_left{
		left: 20px;
	}
	#con_right{
		right: 20px;
	}
	
.main-wrapper{
	position: absolute;
	display: block;
	height: 100%;
}
	.chapter{
		float: left;
		height: 100%;
	}
	.index0{
		width: 600px;
		background: #3eb034;
	}
		.index0 .puzzle{}
		.index0 .puz-top{}
		.index0 .puz-bottom img{
			position: absolute;
			bottom: 0;
		}
		.index0 .content{
			position: relative;
			top: 30px;
		}
			.index0 .content .simple-info .banner{
				display: block;
				margin: 0 auto;
			}
			.index0 .content .simple-info .info-block{
				position: relative;
				z-index: 10;
				padding: 20px;
				width: 380px;
				margin: -30px auto;
				font-size: 22px;
				line-height: 42px;
				color: #fff;
				background: rgba(23,23,23,0.3);
				border-radius: 5px;
			}
			.index0 .content .read-more{
				position: absolute;
				margin: 10px 0 0 390px;
				cursor: pointer;
				animation: blink 1s ease 0s infinite alternate;
				-moz-animation: blink 1s ease 0s infinite alternate;
				-webkit-animation: blink 1s ease 0s infinite alternate;
				-o-animation: blink 1s ease 0s infinite alternate;
			}
			.index0 .content .more-info{
				position: absolute;
				display: none;
				z-index: 10;
				padding: 20px;
				width: 480px;
				height: 420px;
				margin: 0 40px;
				font-size: 22px;
				line-height: 42px;
				color: #fff;
				background: rgba(23,23,23,0.6);
				border-radius: 5px;
				opacity: 0;
			}
			.index0 .content .read-less{
				position: absolute;
				bottom: 20px;
				right: 20px;
				cursor: pointer;
				animation: blink 1s ease 0s infinite alternate;
				-moz-animation: blink 1s ease 0s infinite alternate;
				-webkit-animation: blink 1s ease 0s infinite alternate;
				-o-animation: blink 1s ease 0s infinite alternate;
			}
	.index1{
		width: 700px;
	}
		.index1 .puzzle{
			display: block;
			height: 80px;
			background: #363435;
		}
		.index1 .puz-top{
			box-shadow: 0 -3px 0 #3eb034 inset;
		}
		.index1 .puz-bottom{
			position: absolute;
			bottom: 0;
			width: 700px;
			box-shadow: 0 8px 0 #3eb034 inset;
		}
	.index-last{
		width: 800px;
	}
		.index-last .content{
			position: absolute;
			top: 0;
			bottom: 100px;
			z-index: 10;
			width: 800px;
			background: #575757 url("../src/intern_index_last.png");
			background-size: contain;
			box-shadow: 0 3px 8px #000;
		}
			.index-last .content .title{
				margin-top: 70px;
				margin-bottom: 30px;
				text-align: center;
				font-size: 28px;
				color: #F29600;
			}
			.index-last .content .left-word,
			.index-last .content .right-word{
				display: inline-block;
				font-size: 20px;
				color: #ccc;
			}
			.index-last .content .left-word{
				width: 150px;
				margin-left: 50px;
				margin-right: 10px;
				text-align: right;
				font-weight: bold;
				vertical-align: top;
			}
			.index-last .content .right-word{
				width: 500px;
				margin-right: 50px;
			}
			.index-last .content .partying-line{
				width: 80%;
				height: 0;
				border-top: 2px dashed #ccc;
			}
		.index-last .footer{
			position: absolute;
			bottom: 0;
			width: 800px;
			height: 100px;
			background: #2c2c2c;
			font-size: 14px;
			color: #ccc;
		}
			.index-last .footer .left-info{
				margin-left: 10px;
			}
			.index-last .footer .right-info{
				margin-right: 10px;
			}
			.index-last .footer .left-info p,
			.index-last .footer .right-info p{
			}



@keyframes blink{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes blink{
	0% {opacity: 1;}
	100% {opacity: 0;}
}@-moz-keyframes blink{
	0% {opacity: 1;}
	100% {opacity: 0;}
}@-o-keyframes blink{
	0% {opacity: 1;}
	100% {opacity: 0;}
}