.loading{
	width: 260px;
	height: 260px;
	margin-left: -140px;
	margin-top: -140px;
	border: 10px solid #ccc;
}
	.loading .load-pic{
		float: left;
		width: 140px;
		margin: 10px 60px;
	}
	.loading .load-title{
		width: 220px;
		margin: 0 20px;
		line-height: 40px;
		font-size: 22px;
		color: #ccc;
	}

.nav-item{
	display: none;
}
.nav-block .top-mobile-menu{
	display: block;
}
.pro-block .sample{
	width: 100%;
}
