// color
$theme-dark: #2D2D2D;
$theme-blue: #228DFF;

$font-white: #c3c3c3;
$font-grey: #a0a0a0;

$board-white: #f3f3f3;
$board-black: #171616;
$board-neon:
  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272626), to(rgba(255,255,255,0)), color-stop(.36,#171616)),
  -webkit-gradient(linear, 100% 0%, 0% 100%, from(#228DFF), to(rgba(255,255,255,0))),
  -webkit-gradient(linear, 100% 0%, 0% 100%, from(rgba(255,255,255,0)), to(#db5b4a));
$board-blackshadow: 3px 3px 5px #040404, 3px 3px 10px #040404, 3px 3px 30px #040404;

$glow-white: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
$glow-blue: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
$glow-darkblue: 0 0 5px #030303, 0 0 5px #228DFF, 0 0 10px #228DFF, 0 0 15px #228DFF;


// font-family
@font-face {
    font-family: 'balls_on_the_rampageregular';
    src: //url('./build/src/ballsontherampage-webfont.ttf') format('ttf'),
         url('../../build/src/ballsontherampage-webfont.woff2') format('woff2'),
         url('../../build/src/ballsontherampage-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$ramfont: 'balls_on_the_rampageregular';


// clear
body, div, ul, li, span {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

body {
  color: $font-white;
  background: $theme-dark;
  background-image: url('../../build/src/bgwave.png');
  background-repeat: repeat;
}

ul {
  list-style: none;
}

.left {
  float: left;
}

.clear {
  height: 0px;
  width: 0px;
  content: " ";
  clear: both;
}

a {
  text-decoration: none;
  color: $font-white;
  border-bottom: 1px dashed $font-white;
  cursor: pointer;
  &:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.img-wrap {
  img {
    width: 100%;
  }
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url('../../build/src/dotbg.png');
  background-repeat: repeat-x;
  background-size: contain;

  .menu-bar {
    width: 980px;
    height: 280px;
    margin: 0 auto;
    text-align: center;
    z-index: 9999;

    .menu-home {
      width: 320px;
      height: 165px;
      margin-right: 20px;
      text-align: left;
      color: $theme-dark;
      background: $font-white;

      .menu-home-title{
        width: 180px;
        margin: 20px 0 0px 10px;
        font-size: 30px;
        // text-shadow: $glow-darkblue;
      }

      .menu-home-footer{
        float: left;
        width: 160px;
        height: 45px;
        padding: 8px 0;
        margin-left: 20px;
        border-top: 1px dashed $theme-dark;
        border-bottom: 1px dashed $theme-dark;

        .menu-home-foot-left {
          font-size: 12px;
          padding: 0 8px;
          border-right: 1px dashed $theme-dark;
        }

        .menu-home-foot-right {
          font-size: 16px;
          padding: 5px 8px;
        }
      }

      .menu-home-foot-album {
        margin: -51px 0 20px 27px;
        font-size: 40px;
        font-family: $ramfont;
        color: $theme-dark;
      }

    }

    .menu-item {
      width: 20px;
      margin-left: 64px;
      margin-top: 20px;
      font-family: $ramfont;
      font-size: 32px;
      color: $font-white;
      text-shadow: 0 0 20px #ffffff;
      opacity: 0.8;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        color: #fff;
        text-shadow: $glow-blue;
        opacity: 1;
      }
    }
  }
}

.content {
  width: 100%;
  min-width: 960px;
  min-height: 400px;
  top: -42px;

  .content-wrap {
    width: 940px;
    margin: 0 auto;

    .content-item {
      width: 940px;
      height: 180px;
      margin-bottom: 20px;
      padding: 14px;
      background: $board-black;
      box-shadow: $board-blackshadow;
      transition: all 0.5s;

      &:hover {
        background-image: $board-neon;

        .content-sticker {
          filter: brightness(0.5);
        }
      }

      .content-left {
        width: 319px;
        height: 100%;

        .content-index {
          width: 280px;
          height: 80px;
          font-size: 62px;
          font-family: $ramfont;
          padding-right: 20px;
          border-bottom: 1px dashed $font-white;
        }

        .content-title {
          width: 280px;
          height: 80px;
          padding: 14px 0;
          font-size: 24px;
          color: $font-white;
        }
      }

      .content-right {
        width: 592px;
        height: 100%;
        padding: 8px 20px;
        font-size: 16px;
        border-left: 1px dashed $font-white;

        .content-date {
          height: 20px;
          text-align: right;
          margin-bottom: 10px;
          margin-right: 4px;
        }

        .content-intro {
          height: 86px;
          margin-bottom: 10px;
        }

        .content-link {
          height: 20px;
          margin-bottom: 10px;
        }

        .content-more-bottom {
          display: none;
          height: 20px;
        }
      }

      .content-sticker {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 160px;
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0);
      }
    }
  }
}

//sticker for projects
.content-sticker.ieee {
  background-image: url('./build/src/ieee.png');
}

.footsticker {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 420px;
  z-index: -99;
}

.footer {
  width: 100%;

  .foot-wrap {
    width: 298px;
    height: 200px;
    padding-top: 87px;
    margin: 0 auto 120px auto;
    text-align: center;
    color: $font-grey;
    background-image: url('../../build/src/footbg.png');
    background-repeat: no-repeat;
    background-size: contain;

    p {
      margin: 0.3em;
    }

    a {
      color: $font-grey;
      border-bottom: 1px dashed $font-grey;
      &:hover {
        color: $font-grey;
        border-bottom: 1px solid $font-grey;
      }
    }
  }
}
