.gridText{

  table{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-spacing: 0;
  }
  
  td{
    height: 50px;
    width: 50px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    line-height: 50px;
    font-size: 28px;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
    text-align: center;
  }

}